/* 
  Variáveis para cores:
  --fundo-principal
  --texto
  --texto-inverso
  --destaque
  --destaque-inverso
  --fundo-card
*/

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variáveis */
:root {
  --fundo-principal: #f5f5f5;
  --texto: #222222;
  --texto-inverso: #ffffff;
  --destaque: #0077ff;
  --destaque-inverso: #66bbff;
  --fundo-card: #ffffff;
}

body.escuro {
  --fundo-principal: #222222;
  --texto: #e0e0e0;
  --texto-inverso: #333333;
  --destaque: #ff5522;
  --destaque-inverso: #a73917;
  --fundo-card: #444444;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5em;
  background-color: var(--fundo-principal);
  color: var(--texto);
  scroll-behavior: smooth;
  transition: background-color 0.4s, color 0.4s;
}

header {
  background-color: var(--destaque);
  color: var(--texto);
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

nav#menu ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

nav#menu a {
  text-decoration: none;
  color: var(--texto-inverso);
  font-weight: 600;
  padding: 12px 15px;
  border-radius: 5px;
  transition:
    background-color 0.4s,
    color 0.4s;
}

nav#menu a:hover {
  background-color: var(--destaque-inverso);
  color: var(--destaque);
}

main {
  display: grid;
  grid-template-columns: auto 75vw auto;
  gap: 20px;
  margin-top: 20px;
}

section#ficha {
  background-color: var(--fundo-card);
  padding: 20px;
  border-radius: 8px;
  grid-column: 2;
}

section#ficha img.foto {
  width: 200px;
  aspect-ratio: 1/1;
  object-fit: cover;
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid var(--fundo-card);
  outline: 5px solid var(--destaque);
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

section#ficha h1 {
  color: var(--destaque);
  margin: 15px 0px;
  font-size: 1.6em;
  text-align: center;
}

section#ficha p {
  text-align: justify;
}

section#ficha div#social {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6em;
  gap: 16px;
  margin-top: 14px;
}

div#social a {
  color: var(--destaque);
}

div#social a:hover {
  color: var(--destaque-inverso);
  transition: color 0.4s;
}

section#detalhes {
  grid-column: 2;
}

article {
  background-color: var(--fundo-card);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

article h2 {
  color: var(--destaque);
  font-size: 1.4em;
  margin-bottom: 20px;
}

#skill-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

#skill-container .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#skill-container .nome {
  font-weight: bold;
  color: var(--texto);
}

#skill-container .porcent {
  font-weight: bold;
  color: var(--destaque);
}

#skill-container .barra {
  width: 100%;
  height: 12px;
  background-color: var(--fundo-principal);
  border-radius: 4px;
}

#skill-container .progresso {
  height: 100%;
  background-color: var(--destaque-inverso);
  border-radius: 4px;
}

#formacao-container {
  display: flex;
  flex-direction: column-reverse;
  gap: 18px;
}

#formacao-container .curso {
  background-color: var(--fundo-principal);
  border-radius: 8px;
  padding: 12px;
  border-left: 4px solid var(--destaque-inverso);
}

#formacao-container .curso:hover {
  border-left-width: 8px;
  border-color: var(--destaque);
  transition:
    border-left-width 0.4s,
    border-color 0.4s;
  cursor: pointer;
}

#formacao-container .periodo {
  font-weight: bold;
  font-size: 0.8em;
  color: var(--texto);
}

#projeto-container {
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
}

#projeto-container .projeto {
  display: flex;
  flex-direction: column-reverse;
  gap: 16px;
  background-color: var(--fundo-principal);
  padding: 12px;
  border-radius: 8px;
  border-left: 4px solid var(--destaque-inverso);
}

#projeto-container .projeto:hover {
  border-left-width: 8px;
  border-color: var(--destaque);
  transition:
    border-left-width 0.4s,
    border-color 0.4s;
  cursor: pointer;
}

footer {
  background-color: var(--destaque);
  color: var(--texto-inverso);
  text-align: center;
  padding: 24px;

  a {
    color: var(--texto-inverso);
    font-weight: bold;
    text-decoration: none;
  }
}

footer a:hover {
  color: var(--texto);
  transition: color 0.4s;
}

@media screen and (min-width: 768px) {
  #skill-container {
    grid-template-columns: 1fr 1fr;
  }
}
